include LICENSE
include README.md
include README-EN.md
include pyproject.toml
recursive-include lra *.py
recursive-include lra/templates *.md
recursive-include lra/templates *.json
recursive-include lra/templates *.sh
recursive-include lra/prompts *.md
